<tm-card>
    <tm-card-body>
        <!-- <div class="container">
           <table>
             <tr>
                <th>S.No</th>
                <th>Image</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
             </tr>
             <tr>
                <td>S.No</td>
                <td>Image</td>
                <td>Product Name</td>
                <td>Price</td>
                <td>Quantity</td>
                <td>SubTotal</td>
             </tr>
             <tr>
                <td colspan="5" >Total</td>
                <td></td>
            </tr>
           </table>
        </div> -->
        <div class="noProducts">
            <img src="../../../../../assets/6011.jpg "alt="" width="200px">
            <h4>Your Cart Is Empty</h4>
        </div>
    </tm-card-body>
</tm-card>
