
<tm-card size="tiny" *ngFor="let product of products">
    <tm-card-body>
        <div class="imageContainer">
            <img src="{{product.productImage}}" alt="">
        </div>
        <div class="detailsContainer">
             <div> <span>Name:</span>{{product.productName}}</div>
             <div> <span>Price:</span>{{product.productPrice}}</div>
             <div> <span>Description:</span>{{product.productDescription}}</div>
        </div>
    </tm-card-body>
    <tm-card-footer>
        <button tmButton status="primary">Buy Now </button>    
     </tm-card-footer>
  </tm-card>

