tm-card{
width: 100%;
height: 500px;
tm-card-body{
    .noProducts{
        position: relative;
        top:20%;
        left:35%;
       h4{
        font-weight: 300;
       }
       
    }
}
}
@media screen and (max-width:600px) and (min-width:0px) {
    tm-card{
        width: 100%;
        height: 500px;
        tm-card-body{
            .noProducts{
                position: relative;
                top:20%;
                left:5%;
               h4{
                font-weight: 300;
               }
               
            }
        }
        }
}