<div class="noProducts" *ngIf="orderData.length===0">
            <img src="../../../../../assets/emptycart.svg "alt="" width="200px">
            <h4> You Have No Order</h4>
        </div>
<div class="orderContainer" *ngIf="orderData.length!=0">
    <!-- <table>
                <thead>
                    <tr>
                        <th> S.No</th>
                        <th>Product Details</th>
                        <th>Order Date</th>
                        <th>Order Total</th>
                        <th>Address</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let orderData of orderData;let i=index;">
                         <td>{{i+1}}</td>
                        
                         <td> <div *ngFor="let productData of orderData.product;">{{productData.productName}}</div> </td>
                         <td>{{orderData.date |date}}</td>
                         <td>{{orderData.totalvalue}}</td>
                         <td>{{orderData.address}}</td>
                         <td>{{orderData.status}}</td>
                    </tr>
                </tbody>
            </table> -->


    <div class="orderHistory" *ngFor="let orderData of orderData;">
        <tm-card>
            <tm-card-body>
              <div class="dateContainer">
                  {{orderData.date|date}}
              </div>
                <div class="container">
                    
                    <div *ngFor="let productData of orderData.product;">
                        <div class="productDetails" >
                            <img width="100px" src="{{productData.productImage}}" alt="">
                            <span>{{productData.productName}}</span>
                        </div>
                      
                    </div>
                </div>
                <div class="totalValue">
                    <h4>Total: {{orderData.totalvalue|currency}}</h4>
                    <h5>{{orderData.status}}</h5>
                </div>
            </tm-card-body>
            <tm-card-footer>
                     <a href="">View Details</a>
            </tm-card-footer>
        </tm-card>
    </div>
</div>